container_commands:
  01_update_config:
    command: "mv /tmp/config.py ."

option_settings:
    - namespace: aws:elasticbeanstalk:container:python
      option_name: WSGIPath
      value: server.py

files:
  /tmp/config.py:
    mode: "000400"
    owner: wsgi
    group: wsgi
    source: https://s3.amazonaws.com/dev.nrgretail.credentials/zenview/dev/config.py
    authentication: S3Access

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: dev.nrgretail.credentials
